/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, a {
  font-family: Century, serif, cursive, sans-serif;
}

h2, h4, h6 {
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f
}

.header-nav {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  background-image: url(img/logo.png);
  background-size: cover;
  height: 70px;
  width: 140px;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  color: #FAFAFA;
  font-size: 16px;
  margin: 0 30px;
  line-height: 70px;
}

/*main*/
main {
  width: 100%;
}

/*arrow*/
#arrow {
  position: fixed;
  right: 4rem;
  font-size: 40px;
  bottom: 6rem;
  width: 3rem;
  text-align: center;
  border: solid 1px #ec715f;
  color: #ec715f;
  border-radius: 10px;
}

/*main-visual*/

#main-visual {
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  height: 650px;
  width: 100%;
}

.main-visual-item {
  padding-top: 200px;
  text-align: center;
}

.main-visual-h2 {
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-visual-p {
  font-size: 20px;
  color: #fafafa;
}

/*共通CSS*/

.item {
  width: 920px;
  padding: 90px 0;
  text-align: center;
  margin: 0 auto;
}

.h4 {
  font-size: 32px;
  color: #000000;
}

.p {
  font-size: 16px;
  color: #000000;
}

.temple-p {
  margin: 30px 0;
}

.text-left {
  text-align: left;
}

.border {
  width: 70px;
  border-bottom: 3px solid #ec715f;
  padding-top: 8px;
  margin: 0 auto;
}

.h6 {
  font-size: 20px;
  color: #000000;
}

.container {
  width: 50%;
  display: inline-block;
}

/*portfolio*/

#portfolio {
  background-color: #eceff1;
}

.portfolio-contants {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-size: cover;
  background-position: center;
}

.portfolio-box:first-child {
  background-image: url(img/sketch.jpg);
}

.portfolio-box:nth-child(2) {
  background-image: url(img/websuku.png);
}

.portfolio-box:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-box:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-box:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.portfolio-box:last-child {
  background-image: url(img/webcamp-mother.png);
}

.portfolio-box:nth-child(n+3) {
  margin-bottom: 0;
}

.portfolio-box:nth-child(3n) {
  margin-right: 0;
}

/*feature*/

.feature-item {
  width: 980px;
}

.feature-h6 {
  padding: 10px 0;
}

.feature-contants {
  width: 980px;
  margin: 0 auto;
}

.feature-container {
  display: flex;
}

.feature-box {
  width: 320px;
  text-align: center;
}

.feature-h6 {
  padding: 25px 0 10px;
}



.feature-box:nth-child(2) {
  margin: 0 10px;
}

.fas {
  font-size: 55px;
}

/*Profile*/

#profile {
  background-color: #eceff1
}

.profile-item {
  width: 1024px;
}

.profile-contants {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.profile-image {
  background-image: url(img/my-icon.jpg);
  height: 250px;
  width: 250px;
  display: inline-block;
  border-radius: 50%;
}

.profile-container {
  text-align: center;
}

.profile-h6 {
  padding-bottom: 5px;
}

.portfolio-p {
 padding-top: 5px;
}

.myneme {
  padding-top: 20px
}

/*contact*/

.contact-item {
  width: 800px;
}

.contact-contants {
  display: flex;
}

.contact-container {
  margin: 0 auto;
  width: 35%;
  text-align: left;
}

.contact-h6 {
  padding-bottom: 5px;
}

.contact-p {
  text-decoration: underline;
}

.container a:hover {
  text-decoration: underline;
}

.tel {
  margin-top: 20px;
}

.sns-h6 {
  padding-bottom: 5px;
}

.fab {
  font-size: 50px;
}

.fa-twitter {
  margin: 0 20px;
}

/*footer*/

footer {
  background-color: #EC715F;
  width: 100%;
  height: 60px;
  text-align: center;
}

.footer-p {
  font-size: 16px;
  color: #fafafa;
  line-height: 60px;
}


#sp-menu__check {
  display: none;
}


/* スマホサイズ（425px）以下の際に適用される設定 */

@media screen and (max-width:425px) {
  
  .nav-content {
    display: none;
  }
  
  .header-nav {
   width: 90%;
  }
  
  .sp-menu__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: #ec715f;
    outline: 1px solid #ffffff;
    outline-offset: -7px;
  }
  
  .sp-menu__box span,
  .sp-menu__box span:before,
  .sp-menu__box span:after {
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  
  .sp-menu__box span:before {
    bottom: 9px;
  }
  
  .sp-menu__box span:after {
    top: 9px;
  }
  
  
  #sp-menu__check:checked ~ .sp-menu__box span {
    background: rgba(255, 255, 255, 0);
  }
  
  #sp-menu__check:checked ~ .sp-menu__box span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #sp-menu__check:checked ~ .sp-menu__box span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  #sp-menu__check:checked ~ .hamburger__content {
    left: 0;
  }
  
  /*main-visual*/
  #main-visual {
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
  }
  
  .item {
    width: 90%;
  }
  
  .main-visual-item {
    padding-top: 200px;
  }
  
  .main-visual-h2 {
    font-size: 40px;
  }
  
  /*portfolio*/
  .portfolio-box:nth-child(odd) {
    display: none;
  }
  
  .portfolio-box:nth-child(even) {
    margin: 0 auto;
  }
  
  .portfolio-box:nth-child(4) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  /*feature*/
  .feature-contants {
    width: 90%;
  }
  
  .feature-container {
    flex-direction: column;
  }
  
  .feature-box {
    margin: 10px auto;
  }
  
  .fa-code {
    margin-top: 30px;
  }
  
  .feature-box:nth-child(2) {
    margin: 10px;
  }
  
  
  /*profile*/
  .profile-contants {
    width: 90%;
    flex-direction: column;
  }
  .container {
    width: 100%;
  } 
  
  .profile-p,
  .profile-h6 {
    text-align: center;
  }
  
  .profile-h6 {
    padding-top: 20px;
  }
  
  /*contact*/
  .contact-contants {
    flex-direction: column;
  }
  
  .contact-container {
    text-align: center;
  }
  
  .sns-h6 {
    margin-top: 20px;
  }
  
  .fa-twitter {
    margin: 0 8px;
  }
  
  
}
